.crossword-header-page-wrapper {
    margin: 50px 150px;
}

.crossword-header-page-intro-header {
    font-size: 22pt;
}

.crossword-header-page-intro-body {
    margin: 20px 0 30px 0;
    font-size: 17pt;
}