.crossword-board-and-clues-wrapper {
    width: 100%;
    float: left;
    position: relative;
    z-index: -1;
    margin-bottom: 20px;
}

.crossword-board {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-bottom: none;
    border-right: none;
    float: left;
}

.crossword-square {
    text-align: center;
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.crossword-square:hover {
    cursor: default;
}

.board-square-number {
    position: absolute;
    padding-left: 2px;
    padding-top: .5px;
}

.board-square-value {
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.crossword-clue-section {
    overflow: hidden;
}

.crossword-clue-list-title {
    height: 25px;
    width: 100%;
    text-align: left;
    font-weight: 700;
    margin-bottom: 10px;
    border-bottom: solid;
    border-width: 1px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.crossword-clue-list {
    margin: 0 0 0 7%;
    height: 100%;
    width: 43%;
    float: left;
}

.crossword-clue-scroll {
    width: 100%;
    height: 93%;
    overflow: scroll;
}

@media only screen and (max-width: 1350px), (min-width: 1600px) and (max-width: 1900px) {
    .crossword-clue-list {
        height: 49%;
        width: 93%;
        margin-bottom: calc(3% - 5px);
    }

    .crossword-clue-scroll {
        height: 85%;
    }
}

.crossword-clue-row-number {
    width: 25px;
    height: 100%;
    font-weight: 600;
    text-align: right;
    float: left;
}

.crossword-clue-row-text {
    padding-left: 45px;
}

.crossword-clue-row {
    padding: 5px 5px 5px 0;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: white;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.crossword-clue-row:hover {
    cursor: pointer;
}

/* mobile only */
.mobile-crossword-clue-box {
    margin: 5px 0;
    border-radius: 1em;
    float: left;
    height: 50px;
    line-height: 50px;
}

.mobile-crossword-clue {
    float: left;
    font-size: 12pt;
    padding: 0 20px;
    width: calc(100% - 130px);
    height: auto;
    margin-top: -2px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mobile-crossword-clue-span {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

#mobile-left-chevron, #mobile-right-chevron {
    font-size: 20pt;
    height: 50px;
    width: 15px;
}

#mobile-left-chevron {
    float: left;
    padding: 0 10px;
}

#mobile-right-chevron {
    float: right;
    padding: 0 10px;
}

#mobile-left-chevron:hover, #mobile-right-chevron:hover {
    cursor: pointer;
}