.message-modal-wrapper {
    float: left;
    height: 350px;
    width: 600px;
    top: calc(50% - 170px);
    left: calc(50% - 300px);
    margin: 20px 50px;
    z-index: 1;
    background-color: white;
    display: none;
    position: fixed;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .5em;
    text-align: center;
}

.message-modal-body {
    margin: 60px 15% 60px 15%;
    min-height: 80px;
    width: 70%;
    font-size: 24pt;
}

.message-modal-footer {
    margin: 10px 15%;
    height: 130;
}

.message-modal-button-primary {
    height: 70px;
    width: 140px;
    margin: 0 15px;
    display: inline-block;
    font-size: 16pt;
    font-weight: 800;
    border-radius: 1.5em;
    background-color: #3f84fb;
    color: white;
    outline: none;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.message-modal-button-primary:hover {
    cursor: pointer;
    background-color: #1f64db;
}

.message-modal-button-secondary {
    height: 70px;
    width: 140px;
    margin: 0 15px;
    display: inline-block;
    font-size: 16pt;
    font-weight: 800;
    border-radius: 1.5em;
    background-color: #CCCCCC;
    color: black;
    outline: none;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.message-modal-button-secondary:hover {
    cursor: pointer;
    background-color: #AAAAAA;
}
